.button {
    position: absolute;
    top: 0;
    left: 0;
}


.square {
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    line-height: 100px;
    vertical-align: middle;
    font-size: 50px;
    margin: 5px;

}

